<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs'); %>
    <%- include('signupform.ejs'); %>

    <link rel="stylesheet" type="text/css" href="css/homepage.css">


    <title>Home Page</title>
</head>
<body>


  <!-- Navigation Bar -->
  <section id="header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About Us</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
            <li class="nav-item"><a href="#">Recipes</a></li>
          </ul>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <!-- button SignIn modal -->
              <!-- WARNING: sign-in is pointing to sign-up modal -->
              
              <a  class="btn" href="/login">Sign In</a>
            </li>
            <!-- button SignUp modal -->
            <li class="nav-item">
              <!-- Button trigger modal -->
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#SignUpModal">
                Sign Up
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  

    <!-- JUMBOTRON -->
  <section class="main">
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <h1>farm fresh to you</h1>
          <p>We bring fresh vegetables to your frontdoor</p>
        </div>
      </div>
    </div>
  </section>

  <!-- HOW IT WORKS -->
  <section class="howitworks">
    <div class="container">
      <div class="title">
        <h5>HOW IT WORKS</h5>
        <h2>Organic Produce Delivered To Your Door</h2>
      </div>
      <div class="row">
        <div class="detail col-lg-3 col-sm-6 px-3">
          <img src="css/media/how-it-works-step1.png" alt="PICK YOUR BOX STYLE">
          <div class="textbox">
            <h3 class="hiw-title">PICK YOUR BOX STYLE</h3>
            <p class="hiw-desc">
              Whether you are a fruit fanatic, veg head or love it all, you can choose (and change) the size and type of produce box that works for you.
            </p>
          </div>
        </div>

        <div class="detail col-lg-3 col-sm-6 px-3">
          <img src="css/media/how-it-works-step2.png" alt="PICK YOUR BOX STYLE">
          <div class="textbox">
            <h3 class="hiw-title">CUSTOMIZE YOUR PRODUCE</h3>
            <p class="hiw-desc">
              Want to make changes to the produce items arriving in your delivery? No problem! It’s simple to add and swap out items in our online Farm Stand.
            </p>
          </div>
        </div>

        <div class="detail col-lg-3 col-sm-6 px-3">
          <img src="css/media/how-it-works-step3.png" alt="PICK YOUR BOX STYLE">
          <div class="textbox">
            <h3 class="hiw-title">ADD FARM PRODUCTS</h3>
            <p class="hiw-desc">
              Add other farm products to your delivery like unique hand-crafted jams, pasture-raised eggs, dairy, artisan olive oil, small-batch honey, a 'canning case' and more...
            </p>
          </div>
        </div>

        <div class="detail col-lg-3 col-sm-6 px-3">
          <img src="css/media/how-it-works-step4.png" alt="PICK YOUR BOX STYLE">
          <div class="textbox">
            <h3 class="hiw-title">WE DELIVER & YOU ENJOY</h3>
            <p class="hiw-desc">
              Delivery to your door is included! Skip your delivery or change frequency to fit your schedule or vacations. Isn't it super fun to open your door to a delicious delivery?
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PICK UP A BOX -->
  <section class="pickbox">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 px-2 py-2 my-4 mx-4 card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 px-2 py-2 my-4 mx-4 card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 px-2 py-2 my-4 mx-4 card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 px-2 py-2 my-4 mx-4 card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 px-2 py-2 my-4 mx-4 card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 px-2 py-2 my-4 mx-4 card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  
</body>
</html>