<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <%- include('../partials/head.ejs'); %>

    <link rel="stylesheet" type="text/css" href="css/homepage.css">


    <title>Home Page</title>
</head>
<body>

  <!-- Navigation Bar -->
<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">FFTY</a>
          <button class="btn dropdown-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-caret-down"></i>
          </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About Us</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
            <li class="nav-item"><a href="#">Recipes</a></li>
            </ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/login">Sign In</a>
            </li>

            <li class="nav-item">
              <a href="/sign-up">Sign Up</a>
            </li>
          </ul> 
        </div>
      </div>
    </nav>
  </div>
</section>
  


    <!-- JUMBOTRON -->
  <section class="main">
    <div class="container">
        <h1>farm fresh to you</h1>
        <p>We bring fresh vegetables to your door</p>
    </div>
  </section>

  <!-- HOW IT WORKS -->
  <!-- add something later -->

  <!-- PICK UP A BOX -->
  <section class="pickbox">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2  card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2  card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2  card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2  card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2  card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>

        <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2  card">
          <img src="css/media/FruitOnly-Summer-Web768x588.jpg" class="card-img-top rounded mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title">MIXED FRUIT AND VEGGIE</h4>
            <p class="card-text">Our most popular service, this box is a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.</p>
            <button class="btn">Bring me this box</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include('../partials/footer.ejs'); %>
  
</body>
</html>