<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs'); %>

    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Login</title>

  
</head>
  <body>
    <div class="background">
      <div class="login-container">
        <form action="/sign-up" method="post">
          <div class="login-content row">
              <div class="col-12 title">
                <h2>Register</h2>
              </div>
            <% if (error) { %>
              <div style="padding: 0px 25px !important ;" class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %> 
       
          <div class="row mb-3">
            <label for="inputEmail" class="col-form-label col-sm-4">Email:</label>
            <div class="col-sm-6">
              <input  type="email" class="form-control"  name="email">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword" class="col-form-label col-sm-4">Password:</label>
            <div class="col-sm-6">
              <input  type="password" class="form-control" name="password">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputAddress" class="col-form-label col-sm-4">Full Name:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputName" name="fullname" >
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputAddress2" class="col-form-label col-sm-4">Address:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputAddress" name="address" > 
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputCity" class="col-form-label col-sm-4">Phone Number:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputPhone" name="phonenumber" >
            </div>
          </div>

          <button type="submit" class="btn float-end mx-5">Sign Up</button>

        </form>
      </div>
    </div>
  </body>
</html>