  <!-- Sign Up Modal -->
    <div class="modal" id="SignUpModal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/sign-up" method="POST">
         
            <div class="row mb-3">
              <label for="inputEmail" class="col-form-label col-sm-4">Email:</label>
              <div class="col-sm-6">
                <input  type="email" class="form-control"  name="email">
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputPassword" class="col-form-label col-sm-4">Password:</label>
              <div class="col-sm-6">
                <input  type="password" class="form-control" name="password">
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputAddress" class="col-form-label col-sm-4">Full Name:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputName" name="fullname" >
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputAddress2" class="col-form-label col-sm-4">Address:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputAddress" name="address" > 
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputCity" class="col-form-label col-sm-4">Phone Number:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputPhone" name="phonenumber" >
              </div>
            </div>

            <button type="submit" class="btn float-end mx-5">Sign Up</button>

          </form>
        
        </div>    
      </div>
    </div>
  </div>

  
