

:root {
  /* Primary color */
  --clr-green: #9F9F63;
  --clr-orange: #E8A62D;
  --clr-gray: #ECEADA;

  /* Other setting */
  --border-radius: 25px;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
}

body {
    background: url(media/canvas.jpg);
    background-size: 500px;
    font-size: 1rem;
    color: var(--clr-gray);
}

.login-container {
    margin: 4rem auto;
    padding: 1rem 2rem;
    align-items: center;
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    background-color: var(--clr-green);
}

.title{
    text-align: center;
    color: white;
}

.btn-login {
    margin: 1rem auto .5rem;
    padding: .8rem 3rem;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    color: var(--clr-green);
    background: var(--clr-gray);
}

.form-control {
    margin: .5rem auto 1rem;
}

.forgot-password {
    color: var(--clr-gray);
}

.forgot-password:hover {
    border-bottom: var(--clr-gray) 1px solid;
    color: var(--clr-gray);
}

.social-login{
    display: flex;
    justify-content: center;
    margin: .5rem auto;
}

.social-icon {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 1rem;
    border: var(--clr-gray) 2px solid;
    cursor: pointer;
}

            
        
    

